@use '/src/variables' as *;




.flexbox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 20px;

    &.selectedBalls {
        margin-bottom: 0;
        row-gap: 0;

        column-gap: 8px;

        .box {
            width: 34px;
            height: 34px;

            .ballnbr {
                font-size: 18px;
                font-weight: bold;
            }
        }
    }

    &.resultBalls,
    &.ticketsBalls {
        gap: 0 8px;
        justify-content: center;

        .box {
            height: 34px;
            width: 34px;
            background-color: $lightGreen;

            .ballnbr {
                font-size: 18px;
                line-height: 18px;
            }
        }

        @media all and (max-width:768px) {
            margin-bottom: 0;
        }
    }

    &.ticketsBalls, &.resultsPage {
        margin-bottom: 0;
    }

}

.box {
    width: 55px;
    height: 55px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    background-image: none !important;
    background-color: #F8FAFC;
    border-radius: 20px;

    &.clickable {
        cursor: pointer;
    }
}

.allBalls {
    .box {
        cursor: pointer;
    }
}


.ballnbr {
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 20px;
    display: flex;
    color: $lightBg;
    border-radius: 50%;
}

.redBox {
    background-image: url("/assets/images/ball-1.png");
    background-color: red
}

.purpleBox {
    background-image: url("/assets/images/ball-2.png");
    background-color: purple
}

.yellowBox {
    background-image: url("/assets/images/ball-3.png");
    background-color: $lightGreen
}

.greenBox {
    background-image: url("/assets/images/ball-4.png");
    background-color: green
}

.blueBox {
    background-image: url("/assets/images/ball-5.png");
    background-color: blue
}

.orangeBox {
    background-image: url("/assets/images/ball-6.png");
    background-color: orange
}

.darkBlueBox {
    background-image: url("/assets/images/ball-7.png");
    background-color: darkblue
}

.marronBox {
    background-image: url("/assets/images/ball-8.png");
    background-color: maroon
}

.purpleBox {
    background-image: url("/assets/images/ball-9.png");
    background-color: purple
}

.emptyBox {
    background-image: url("/assets/images/empty-ball.png");
    background-color: $lightBg;
}

.highlight {
    background-color: $lightGreen;
}

.hasExtraBall {
    .box:last-of-type {
        margin-left: 120px
    }
}


@media (max-width:1200px) {
    .flexbox-container {
        gap: 5px;
    }

    .box {
        width: 25px;
        height: 25px;
        margin: 0;
    }

    .ballnbr {
        font-size: 16px;
    }
}