<div class="flexbox-container wrap {{cssClass}}">
    <ng-container *ngFor="let chosenball of chosenBallsArray; let i=index">
        <div class="box"
            [ngClass]="(shouldEmit ? ' clickable' : '') +
                     ((chosenball.isSelected && shouldHighlight) ||
                      (selectedBall && chosenball.id === selectedBall.id) ?
                       ' highlight' : '')"
            (click)="shouldEmit && ballClicked.emit(chosenball)">
            <p class="ballnbr">{{chosenball.number}}</p>
        </div>
    </ng-container>
</div>