@use '/src/variables' as *;

@use '/src/variables' as *;


@media all and (max-width:1200px) {
    .header-container {
        justify-content: center;
        align-items: center;
        display: flex;
    }
}