<div [class]="isGamePage ? 'game-page' : ''">
    <div class="button-group">
        <button *ngFor="let pickX of pickXEvents" class="pick-button"
            [ngClass]="{'btn btn-primary': isGamePage === true,'pick-button': isGamePage !== true, 'selected-pick': isSelectedPickX(pickX)}"
            [attr.data-option]="pickX.id" routerLink="/PickX"
            [queryParams]="{ gameEventId: pickX.GameEventId }">
            Pick {{ pickX.ConfigurationVersionId }}
        </button>
        <button *ngFor="let jackpot of jackpotEvents" class="pick-button"
            [ngClass]="{'btn btn-primary': isGamePage === true,'pick-button': isGamePage !== true, 'selected-pick': isJackpotRoute()}"
            [attr.data-option]="jackpot.id" routerLink="/Jackpot">
            Jackpot
        </button>

    </div>
</div>