<div class="form-holder" [ngClass]="{'machine-layout': isAndroidApp}" *ngIf="showLoginPage">
    <div class="form-bg">

        <h2 *ngIf="isSignup">{{ 'shared.login.signUpTitle' | translate }}</h2>
        <h2 *ngIf="!isSignup">{{ 'shared.login.loginTitle' | translate }}</h2>

        <a class="close-icon" (click)="hidePopup()" *ngIf="!isAndroidApp">
            <img src="assets/images/close-icon.svg" alt="close">
        </a>
        <span class="text-danger" *ngIf="showErrorMessage">
            {{ errorMsg }}
        </span>
        <!-- ================= LOGIN FORM ================= -->
        <form class="form-content" [formGroup]="loginForm" (keydown)="keyDownFunction($event)"
            *ngIf="!isSignup && !showOtpForm">

            <div class="form-group">
                <label class="title-label">
                    {{ 'shared.login.username' | translate }}
                </label>

                <input [type]="(isAndroidApp)?'number':'text'" class="form-control" title="Username"
                    formControlName="Username" placeholder="Email/ Phone Number" />
            </div>

            <div class="form-group">
                <label class="title-label">
                    {{ 'shared.login.password' | translate }}
                </label>

                <input type="password" inputmode="numeric" class="form-control" title="password"
                    formControlName="Password" placeholder="Password" />

                <p class="text text-end forgot-password" *ngIf="!isSignup && !isAndroidApp">

                    <a>{{ 'shared.login.forgotPassword' | translate }}</a>
                </p>
            </div>

        </form>

        <!-- ================= SIGNUP FORM ================= -->
        <form class="form-content" [formGroup]="signupForm" (keydown)="keyDownFunction($event)"
            *ngIf="isSignup && !showOtpForm">

            <div class="form-group">

                <label class="title-label">
                    {{ 'shared.login.emailOrPhone' | translate }}
                </label>

                <input type="text" class="form-control" formControlName="username"
                    placeholder="Email or UAE mobile number" />

                <div *ngIf="signupForm.get('username')?.invalid && signupForm.get('username')?.touched">

                    <small class="text-danger" *ngIf="signupForm.get('username')?.hasError('required')">
                        {{ 'shared.login.emailOrPhoneRequired' | translate }}
                    </small>

                    <small class="text-danger" *ngIf="signupForm.get('username')?.hasError('invalidUsername')">
                        {{ 'shared.login.emailOrPhoneInvalid' | translate }}
                    </small>

                </div>
            </div>

            <div class="form-group">

                <label class="title-label">
                    {{ 'shared.login.password' | translate }}
                </label>

                <input type="password" class="form-control" formControlName="password" placeholder="Password" />

                <div *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched">

                    <small class="text-danger" *ngIf="signupForm.get('password')?.hasError('required')">
                        {{ 'shared.login.passwordRequired' | translate }}
                    </small>

                    <small class="text-danger" *ngIf="signupForm.get('password')?.hasError('minlength')">
                        {{ 'shared.login.passwordMinlength' | translate }}
                    </small>

                </div>
            </div>

            <div class="form-group">

                <label class="title-label">
                    {{ 'shared.login.confirmPassword' | translate }}
                </label>

                <input type="password" class="form-control" formControlName="confirmPassword"
                    placeholder="Confirm Password" />

                <div *ngIf="signupForm.get('confirmPassword')?.invalid && signupForm.get('confirmPassword')?.touched">

                    <small class="text-danger" *ngIf="signupForm.get('confirmPassword')?.hasError('required')">
                        {{ 'shared.login.confirmPasswordRequired' | translate }}
                    </small>

                    <small class="text-danger" *ngIf="signupForm.get('confirmPassword')?.hasError('passwordMismatch')">
                        {{ 'shared.login.passwordMismatch' | translate }}
                    </small>

                </div>
            </div>

        </form>

        <!-- ================= OTP FORM ================= -->
        <div class="form-group otp-container" *ngIf="showOtpForm">

            <label class="title-label">Enter OTP</label>

            <form class="form-content" [formGroup]="otpForm" *ngIf="showOtpForm" (paste)="onOtpPaste($event)">

                <div class="otp-boxes">

                    <input *ngFor="let _ of otpFields; let i = index" maxlength="1" class="form-control otp-box"
                        [formControlName]="'otp' + i" (input)="onOtpInput($event, i)"
                        (keydown)="onOtpKeyDown($event, i)" />

                </div>

                <div class="form-btns">
                    <button class="btn btn-primary" (click)="verifyOtp()" [disabled]="otpForm.invalid"
                        *ngIf="!showRequestOtp">
                        Verify OTP
                    </button>
                    <button class="btn btn-primary" (click)="requestNewOtp()" [disabled]="otpForm.invalid"
                        *ngIf="showRequestOtp">
                        Request New OTP
                    </button>
                </div>

            </form>

        </div>

        <!-- ================= ERROR MESSAGE ================= -->


        <!-- ================= ACTION BUTTONS ================= -->
        <div class="form-btns" *ngIf="!showOtpForm">

            <button class="btn btn-primary" *ngIf="!isSignup" (click)="submitLogin()" [disabled]="loginForm.invalid">
                {{ 'shared.login.login' | translate }}
            </button>

            <button class="btn btn-primary" *ngIf="isSignup" (click)="submitSignUp()" [disabled]="signupForm.invalid">
                {{ 'shared.login.register' | translate }}
            </button>

        </div>

        <!-- ================= SWITCH LINKS ================= -->
        <p class="text text-center" *ngIf="!isAndroidApp && !showOtpForm">

            <span *ngIf="!isSignup">
                {{ 'shared.login.noAccount' | translate }}
                <a class="underline-word" (click)="swtichToSignUp(true)">
                    {{ 'shared.login.registerHere' | translate }}
                </a>
            </span>

            <span *ngIf="isSignup">
                {{ 'shared.login.alreadyRegistered' | translate }}
                <a class="underline-word" (click)="swtichToSignUp(false)">
                    {{ 'shared.login.loginHere' | translate }}
                </a>
            </span>

        </p>

    </div>
</div>