@use '/src/variables' as *;

.d-flex {
    justify-content: space-between;

    .date-holder {
        flex: 0 0 49%
    }
}

span {
    text-transform: capitalize;
}

p {
    font-size: 14px;
}

.report-holder {
    background-color: $darkBg;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 15px;
    max-height: 200px;
    overflow: auto;
}