<div class="overlay" (click)="hideMenus()" [ngClass]="{'show-cart':showOnClickMobile && listOfBets.length > 0}"></div>

<button class="mobile-cart-toggle" *ngIf="!showOnClickMobile" (click)="openCartOnMobile()" type="button">
    <img src="assets/images/cart-btn-icon.svg" alt="Cart Icon">
    <span>Pick Details</span>
    <img src="assets/images/arrow.svg" alt="Arrow Icon">
    <!-- <span class="mobile-cart-count">{{totalBets || listOfBets.length}}</span> -->
</button>

<div class="cart-container"
    [ngClass]="{'show-cart':showOnClickMobile,'has-bets':listOfBets && listOfBets.length > 0,'loto-cart':isPickXGame || isJackpotGame, 'sport-betting-cart':isSportsBetting}">
    <div class="cart-header" (click)="OnclickIsMobile()">
        <span class="mobileOnly rect-bar"></span>
        <p class="cart-title">Bet Slip </p>
        <span class="yellow-circle mobileOnly" *ngIf="totalBets > 0">{{totalBets}}</span>
        <a class="clear-btn" *ngIf="showCartButtons" (click)="$event.stopPropagation(); clearBets()">Clear all</a>
    </div>

    <div class="cart-body-holder" *ngIf="listOfBets && listOfBets.length > 0 && isSportsBetting">
        <div class="list-of-bets">
            <ng-container *ngFor="let betItem of listOfBets">
                <div class="bet-item">
                    <div class="title-odd">
                        <a class="close-icon" (click)="removeItemFormSlip(betItem)">
                            <img src="assets/images/close-icon-grey.svg" />
                        </a>
                        <span>{{betItem.MatchName}}</span>
                        <span class="odd">{{betItem.Odd | number:'1.0-3'}}</span>
                    </div>
                    <div class="outcomeName">
                        <span>{{betItem.OutcomeName}}</span>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="ticket-infos">
            <div class="info-item">
                <span>Total bets:</span>
                <span>{{totalBets}}</span>
            </div>
            <div class="info-item">
                <span>Total odds:</span>
                <span>{{totalOdds | number:'1.0-3'}}</span>
            </div>
            <div class="info-item">
                <span>Bonus:</span>
                <span>{{bonus | number:'1.0-3'}}</span>
            </div>
            <div class="info-item">
                <span>Potential Winnings:</span>
                <span>{{ WinAmount | number:'1.0-3'}}</span>
            </div>
            <div class="info-item">
                <span>Stake:</span>
                <input type="number" [(ngModel)]="stake" min="0" (ngModelChange)="onAmountChange()">
            </div>
        </div>


    </div>

    <div class="cart-body-holder" *ngIf="listOfBets && listOfBets.length > 0 && (isPickXGame || isJackpotGame)">
        <div class="list-of-bets">
            <ng-container *ngFor="let betItem of listOfBets, let i = index">
                <div class="bet-item">

                    <a class="close-icon" (click)="removeLotoItemFormSlip(betItem,i)">
                        <img src="assets/images/close-icon-grey.svg" />
                    </a>
                    <div class="title-odd">
                        <span class="greyText">
                            {{betItem.gameName}}
                        </span>
                        <span>
                            Balls Chosen: {{betItem.displayBalls}}
                        </span>
                        <span class="greyText" *ngIf="isPickXGame">
                            Bet Type: {{betItem.ticketTypeName}}
                        </span>
                    </div>

                    <span class="odd">{{betItem.stake | number:'1.0-3'}} AED</span>


                </div>
            </ng-container>
        </div>

    </div>
    <div class="price-submit">
        <div class="info-item">
            <span>Total Price:</span>
            <span>{{listOfBets.TicketPrice | number:'1.0-3'}} AED</span>
        </div>
        <button class="btn btn-primary" type="submit" *ngIf="showCartButtons && canIssueTicket" [disabled]="stake == 0"
            (click)="issueTicket()">Place
            Bets</button>
    </div>

</div>