<div class="overlay {{cssClass}}" (click)="hideMenus()" *ngIf="isMainCart"
    [ngClass]="{'show-cart':showOnClickMobile && listOfBets.length > 0}"></div>



<div class="cart-container {{cssClass}}"
    [ngClass]="{'show-cart':showOnClickMobile,'has-bets':listOfBets && listOfBets.length > 0 && isMainCart,'loto-cart':isPickXGame || isJackpotGame, 'sport-betting-cart':isSportsBetting}">
    <div class="cart-header" (click)="OnclickIsMobile()" *ngIf="isMainCart">
        <span class="mobileOnly rect-bar"></span>
        <a class="clear-btn back-button" *ngIf="showCartButtons && isMainCart">Back</a>
        <p class="cart-title">Ticket Details </p>
        <span class="yellow-circle mobileOnly" *ngIf="totalBets > 0">{{totalBets}}</span>
        <a class="clear-btn" *ngIf="showCartButtons" (click)="$event.stopPropagation(); clearBets()">Clear all</a>
    </div>

    <div class="cart-body-holder" *ngIf="listOfBets && listOfBets.length > 0 && isSportsBetting">
        <div class="list-of-bets">
            <ng-container *ngFor="let betItem of listOfBets">
                <div class="bet-item">
                    <div class="title-odd">
                        <a class="close-icon" (click)="removeItemFormSlip(betItem)">
                            <img src="assets/images/close-icon-grey.svg" />
                        </a>
                        <span>{{betItem.MatchName}}</span>
                        <span class="odd">{{betItem.Odd | number:'1.0-3'}}</span>
                    </div>
                    <div class="outcomeName">
                        <span>{{betItem.OutcomeName}}</span>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="ticket-infos">
            <div class="info-item">
                <span>Total bets:</span>
                <span>{{totalBets}}</span>
            </div>
            <div class="info-item">
                <span>Total odds:</span>
                <span>{{totalOdds | number:'1.0-3'}}</span>
            </div>
            <div class="info-item">
                <span>Bonus:</span>
                <span>{{bonus | number:'1.0-3'}}</span>
            </div>
            <div class="info-item">
                <span>Potential Winnings:</span>
                <span>{{ WinAmount | number:'1.0-3'}}</span>
            </div>
            <div class="info-item">
                <span>Stake:</span>
                <input type="number" [(ngModel)]="stake" min="0" (ngModelChange)="onAmountChange()">
            </div>
        </div>


    </div>

    <div class="cart-body-holder" *ngIf="listOfBets && listOfBets.length > 0 && (isPickXGame || isJackpotGame)">
        <div class="list-of-bets">
            <h4 *ngIf="!isMainCart">Tickets List ({{listOfBets.length}})</h4>
            <ng-container *ngFor="let betItem of listOfBets, let i = index">
                <div class="bet-item">

                    <ng-container *ngIf="!isMainCart">
                        <span class="arrow-holder" *ngIf="isPickXGame">
                            <span class="letter">{{ getTicketTypeInitials(betItem.ticketTypeName) }}</span>
                            <img src="/assets/images/mobile-balls-list-arrow.svg" alt="">
                        </span>
                        <div class="balls-list">
                            <span *ngFor="let ball of betItem.chosenBallsList"
                                class="visible-mobile-ball">{{ball.number}}
                            </span>
                        </div>
                        <div class="mobile-controls" *ngIf="!isDesktop">
                            <!-- <a class="quickpick-mobile" (click)="quickPickForBetItem(betItem,betItem.id)">
                                QP
                            </a> -->
                            <a (click)="removeLotoItemFormSlip(betItem,i)" class="clear-mobile">
                                <img src="assets/images/delete-icon.svg" alt="Clear Selections">
                            </a>
                        </div>

                    </ng-container>


                    <ng-container *ngIf="isMainCart">
                        <a class="close-icon" (click)="removeLotoItemFormSlip(betItem,i)">
                            <img src="assets/images/close-icon-grey.svg" />
                        </a>
                        <div class="title-odd">
                            <span class="greyText">
                                {{betItem.gameName}}
                            </span>
                            <span>
                                Numbers Chosen: {{betItem.displayBalls}}
                            </span>
                            <span class="greyText" *ngIf="isPickXGame">
                                Bet Type: {{betItem.ticketTypeName}}
                            </span>
                        </div>

                        <span class="odd">{{betItem.stake | number:'1.0-3'}} AED</span>
                    </ng-container>



                </div>
            </ng-container>
        </div>

    </div>
    <div class="price-submit" *ngIf="isMainCart">
        <div class="info-item">
            <span>Total Price:</span>
            <span>{{listOfBets.TicketPrice | number:'1.0-3'}} AED</span>
        </div>
        <button class="btn btn-primary" (click)="openCartOnMobile()" *ngIf="!isMainCart" type="button">
            <span>Confirm & Print</span>
        </button>
        <button class="btn btn-primary" type="submit" *ngIf="showCartButtons && canIssueTicket && isMainCart"
            [disabled]="stake == 0" (click)="issueTicket()"> Print Ticket</button>
    </div>

</div>