@use '/src/variables' as *;



header {
    position: fixed;
    z-index: 3;
    width: 100%;
    top: 0;
    left: 0;
    background-color: $darkBg;

    .header-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 15px;
        position: relative;
    }


}

.mobile-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.isloggedIn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

.settings {
    width: 41px;
    height: 41px;
    display: flex;
    align-items: center;
    background-color: $lightBg;
    justify-content: center;
    border-radius: 50%;
    margin-left: 15px;
}

.dropdown-header {
    padding-left: 15px;
    position: relative;
    cursor: pointer;
    margin-right: 15px;

    .dropdown-list {
        border-radius: 0 0 10px 10px;
        background-color: $darkBg;
        border: 1px solid $lightBg;

        .dropdown-item {
            cursor: pointer;
            color: $white;
            padding: 10px 20px;
            font-size: 16px;
            border-bottom: 1px solid $lightBg;

            &:hover {
                background: $yellow;
                color: $darkBg
            }

            &:last-child {
                border-bottom: 0;
            }
        }
    }

    &.active {
        .dropdown-list {
            display: block;
        }
    }
}

.header-text {
    color: $white;
    font-weight: 700;

    .header-balance {

        color: $lightGrey;
        font-size: 14px;
    }
}

.logo {
    cursor: pointer;
}


.mobile-toggle {
    height: 30px;
    width: 50px;
    position: absolute;
    top: 15px;
    left: 15px;

    &:after {
        content: '';
        height: 3px;
        width: 21px;
        background-color: $white;
        position: absolute;
        bottom: 7px;
        left: 0;
    }

    &:before {
        content: '';
        height: 10px;
        width: 21px;
        border-top: 3px solid $white;
        border-bottom: 3px solid $white;
        position: absolute;
        top: 6px;
        left: 0;
    }
}


.language-selector-toggle {
    height: 41px;
    width: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $lightBg;
    border-radius: 50%;
    cursor: pointer;
    color: $white;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

@media all and (max-width:1200px) {
    .overlay {
        content: '';
        height: calc(100vh - 60px);
        width: 100%;
        background-color: rgba(256, 256, 256, 0.6);
        top: 60px;
        left: 0;
        position: fixed;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .user-icon img {
        display: block;
        height: 30px
    }

    .logo {
        height: 30px;
        margin: 15px auto;
    }

    .balance-settings-holder {
        padding: 10px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .nav {
        display: block;

        .nav-item {
            margin: 0;
            border-top: 1px solid $darkBg;
        }

        .nav-link {
            justify-content: center;

            &.active {
                border: none;
            }
        }
    }

    header {
        min-height: 60px;
        background-color: $lightBg;

        .header-container {
            display: none;
            flex-direction: column;
            align-items: center;
            border-top: 2px solid $yellow;
            padding-left: 0;
            padding-right: 0;

            .logo {
                display: none;
            }
        }
    }


    .right-section {
        margin-top: 10px;
        padding-top: 20px;
        border-top: 2px solid $yellow;
        padding-left: 15px;
    }

    header {
        &.active-mobile-menu {
            height: 100vh;

            .header-container {
                display: block;
            }

            .mobile-toggle:before {
                top: 6px;
                left: 3px;
                transform: rotate(45deg);
                border-top: none
            }

            .mobile-toggle:after {
                bottom: 15px;
                transform: rotate(-45deg);
            }
        }
    }
}

.dropdown-toggle::after {
    display: none !important;
}