<div class="cart-container" (window:resize)="onResize($event)"
    [ngClass]="{'show-cart':showOnClickMobile,'has-bets':listOfBets && listOfBets.length > 0}">
    <!-- <div class="overlay" (click)="hideMenus()"></div> -->
    <div class="cart-header" (click)="OnclickIsMobile()">
        <span class="mobileOnly rect-bar"></span>
        <p class="cart-title">Bet Slip </p>
        <span class="yellow-circle mobileOnly" *ngIf="totalBets > 0">{{totalBets}}</span>
        <a class="clear-btn" *ngIf="showCartButtons" (click)="clearBets()">Clear all</a>
    </div>

    <div class="cart-body-holder" *ngIf="listOfBets && listOfBets.length > 0">
        <div class="list-of-bets">
            <ng-container *ngFor="let betItem of listOfBets">
                <div class="bet-item">
                    <div class="title-odd">
                        <a class="close-icon" (click)="removeItemFormSlip(betItem)">
                            <img src="assets/images/close-icon-grey.svg" />
                        </a>
                        <span>{{betItem.matchName}}</span>
                        <span class="odd">{{betItem.odd | number:'1.0-3'}}</span>
                    </div>
                    <div class="outcomeName">
                        <span>{{betItem.outcomeName}}</span>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="ticket-infos">
            <div class="info-item">
                <span>Total bets:</span>
                <span>{{totalBets}}</span>
            </div>
            <div class="info-item">
                <span>Total odds:</span>
                <span>{{totalOdds | number:'1.0-3'}}</span>
            </div>
            <div class="info-item">
                <span>Bonus:</span>
                <span>{{bonus | number:'1.0-3'}}</span>
            </div>
            <div class="info-item">
                <span>Potential Winnings:</span>
                <span>{{ winAmount | number:'1.0-3'}}</span>
            </div>
            <div class="info-item">
                <span>Stake:</span>
                <input type="number" [(ngModel)]="stake" min="0" (ngModelChange)="onAmountChange()">
            </div>
        </div>

        <button class="btn btn-primary" type="submit" *ngIf="showCartButtons" [disabled]="stake == 0"
            (click)="issueTicket()">Place
            Bets</button>
    </div>

</div>