<div class="datepicker-holder" [class]="parentClass">
  <mat-form-field>
    <mat-label>{{label}}: </mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="dateChosen" (ngModelChange)="dateChange($event)" [min]="minDate">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <div class="time-field" *ngIf="showTime">
    <label class="time-label">{{timeLabel}}: </label>
    <div class="time-input-row">
      <input type="text" inputmode="numeric" maxlength="2" class="time-input" [(ngModel)]="timeHours"
        (change)="onHoursChange()" (focus)="selectAllText($event)" (click)="selectAllText($event)">
      <span class="time-colon">:</span>
      <input type="text" inputmode="numeric" maxlength="2" class="time-input" [(ngModel)]="timeMinutes"
        (change)="onMinutesChange()" (focus)="selectAllText($event)" (click)="selectAllText($event)">
    </div>
  </div>
</div>
