
<app-countdown *ngIf="isAndroidApp && showEventDetails" [event]="selectedEvent"></app-countdown>
<app-games-links [isGamePage]="true" [selectedGameEventId]="selectedGameEventId"
    *ngIf="!isAndroidApp"></app-games-links>
<div class="container-fluid page-holder" *ngIf="showEventDetails">
    <main>
        <div class="loto-game-container" #gameBlock>
            <div class="inner-container">
                <ng-container *ngIf="!showEventDetails">
                    <h2 class="center">
                        {{ 'pickx.title' | translate }}
                    </h2>
                    <div class="events-list" *ngIf="eventsList.length>0">
                        <a *ngFor="let event of eventsList" class="event-item btn btn-primary"
                            (click)="composeEventDetails(event)">
                            {{ event.EventName }}
                        </a>
                    </div>
                </ng-container>

                <ng-container *ngIf="showEventDetails">
                    <div class="draw-header">
                        <a class="back-arrow">
                            <img src="assets/images/back-arrow.svg" alt="Back" (click)="backButton()">
                        </a>
                        <h5>
                            {{selectedEvent.EventName}} <span class="event-date"> / {{selectedEvent.EventDate ||
                                selectedEvent.GameEventDate}}</span>
                        </h5>
                        <span class="game-note">
                            <ng-container *ngIf="isPickXGame">
                                Choose any {{numberOfBallChoice}} digits from 0 to 9 (digits may be repeated).
                            </ng-container>
                            <ng-container *ngIf="isJackpotGame">
                                Choose from 6 to 9 digits.
                            </ng-container>
                        </span>
                    </div>

                    <div class="selected-balls-type input-bg">
                        <div class="top-section">
                            <app-ball-list [cssClass]="'selectedBalls'" [chosenBallsArray]="selectedBalls"
                                [shouldHighlight]="false" [shouldEmit]="false"></app-ball-list>
                            <div class="mobile-controls" *ngIf="isMobile">
                                <a (click)="quickPick()" class="quickpick-mobile">
                                    QP
                                </a>
                                <a (click)="clearSelections()" class="clear-mobile">
                                    <img src="assets/images/delete-icon.svg" alt="Clear Selections">
                                </a>
                            </div>
                        </div>


                        <!-- <div class="option-list-holder" *ngIf="isPickXGame"
                            (click)="showOptionsList = !showOptionsList">
                            <span class="selected-option">{{ selectedType?.TicketTypeName }}</span>
                            <app-option-list *ngIf="showOptionsList" [options]="selectedEvent.fixedConfig"
                                [selectedValue]="selectedResultFilter"
                                (optionChange)="onFilterChange($event)"></app-option-list>



                        </div> -->
                        <div class="options-container single-checkbox" *ngIf="isPickXGame">
                            <label *ngFor="let option of selectedEvent.fixedConfig" class="option-item"
                                [ngClass]="{ 'selected': selectedResultFilter === option.TicketTypeId }">
                                <input type="radio" name="optionsGroup" [value]="selectedResultFilter"
                                    [checked]="selectedResultFilter === option.TicketTypeId"
                                    (change)="onFilterChange(option)" />
                                {{ option.TicketTypeName }}
                            </label>
                        </div>
                    </div>


                    <app-shared-cart #sharedCart *ngIf="showCart && isMobile" [selectedEvent]="selectedEvent"
                        (quickPickBetItem)="onQuickPickBetItem($event)" (totalPriceChange)="onTotalPriceChange($event)"
                        cssClass="mobile-visible-cart"></app-shared-cart>

                    <div class="flex-on-mobile">
                        <div class="balls-list-holder">

                            <!-- for PickX games we render one ball-list per configured ball -->
                            <ng-container *ngIf="isPickXGame; else singleBall">
                                <app-ball-list [chosenBallsArray]="listOfBalls" (ballClicked)="selectPickXBall($event)"
                                    (ballDeleted)="deleteLastBall()" cssClass="drawBalls pickx"
                                    [showDeleteButton]="true">
                                </app-ball-list>
                            </ng-container>
                            <ng-template #singleBall>
                                <app-ball-list [chosenBallsArray]="listOfBalls" (ballClicked)="selectBall($event)"
                                    (ballDeleted)="deleteLastLotoBall()" cssClass="drawBalls jackpot"
                                    [showDeleteButton]="true">
                                </app-ball-list>
                            </ng-template>
                        </div>

                        <div class="bottom-section d-flex">
                            <div class="form-group stake-block">
                                <div class="input-bg stake-block">

                                    <span class="ticket-price">
                                        Ticket Price:
                                    </span>
                                    <span>{{ Stake }} AED</span>
                                    <!-- <a (click)="updateMultiplier(false)" class="sign-button" *ngIf="isPickXGame">
                                    <img src="assets/images/minus.svg" alt="Minus">
                                </a>
                                <input #stakeInput type="number" class="form-control" [(ngModel)]="Stake"
                                    (ngModelChange)="onStakeInputChange($event, stakeInput)"
                                    [min]="selectedType?.MinStake" [max]="selectedType?.MaxStake" placeholder="Stake"
                                    [disabled]="true" />
                                <a (click)="updateMultiplier(true)" class="sign-button" *ngIf="isPickXGame">
                                    <img src="assets/images/plus.svg" alt="Plus">
                                </a> -->
                                </div>
                            </div>
                            <div class="btns-holder d-flex">
                                <a class="btn qp-button" (click)="quickPick()" *ngIf="!isMobile">Quick Pick</a>
                                <a class="btn btn-primary confirm-button" (click)="addToBet()">Confirm Selections</a>
                                <!-- <a class="btn btn-warning" [class.disabled]="isBulkIssueInProgress" (click)="issue100Tickets()">
                                {{ isBulkIssueInProgress ? 'Issuing...' : 'Issue 100 Tickets' }}
                            </a> 
                            <a class="btn btn-danger" [class.disabled]="isBulkSeparateIssueInProgress"
                                (click)="issue100TicketsSeparately()">
                                {{ isBulkSeparateIssueInProgress ? 'Issuing Separately...' : 'Issue 100 Separate
                                Tickets' }}
                            </a>-->
                            </div>

                        </div>
                        <div class="bottom-section d-flex total-confirm" *ngIf="totalPrice > 0 && isMobile">
                            <div class="form-group stake-block">
                                <div class="input-bg stake-block">

                                    <span class="ticket-price">
                                        Total Price:
                                    </span>
                                    <span>{{ totalPrice }} AED</span>
                                </div>
                            </div>
                            <div class="btns-holder d-flex">
                                <a class="btn btn-primary confirm-button" (click)="openMobileCart()">Confirm & Print</a>
                            </div>

                        </div>
                    </div>




                </ng-container>
            </div>

        </div>
    </main>
    <aside class="cart" [style.height.px]="cartHeight">
        <app-game-banner [style.height.px]="cartHeight" *ngIf="!showCart" [prizePoolLabel]="'Pick 2 Prize Pool'"
            [prizePoolAmount]="'3.65M'"></app-game-banner>
        <app-shared-cart #sharedCart *ngIf="showCart" [selectedEvent]="selectedEvent"
            [openMobileCartFlag]="openCartOnMobileFlag" (quickPickBetItem)="onQuickPickBetItem($event)"
            (totalPriceChange)="onTotalPriceChange($event)">
        </app-shared-cart>
    </aside>
</div>