<div class="course-details" *ngIf="courseDetails" [ngClass]="{'isExpanded':courseDetails.isExpanded}">
    <div class="course-header" (click)="toggleSub(courseDetails)">
        <div class="date-title-holder">
            <span class="date">
                {{courseDetails.gameEventDate | date:'HH:mm'}}
            </span>
            <span class="title">
                <img src="/assets/images/pmu.svg" alt="PMU" class="pmuIcon">
                {{courseDetails.name}}
                <img src="/assets/images/cloud.svg" alt="Cloud" class="weatherIcon">
            </span>
        </div>
        <ul class="list">
            <li> {{ 'hpb.courseDetails.starters' | translate }}: <strong>{{courseDetails.numberOfHorses}}</strong></li>
            <li>{{ 'hpb.courseDetails.prizeAmount' | translate }}: <strong>{{courseDetails.prize}}</strong></li>
            <li>{{ 'hpb.courseDetails.trackTypes' | translate }}: <strong>{{courseDetails.typeDePiste}}</strong></li>
            <li class="hidden-mobile">{{ 'hpb.courseDetails.prizeAmount' | translate }}:
                <strong>{{courseDetails.prize}}</strong></li>
            <li class="hidden-mobile">{{ 'hpb.courseDetails.trackTypes' | translate }}:
                <strong>{{courseDetails.typeDePiste}}</strong></li>
        </ul>
    </div>
    <ng-container *ngIf="courseDetails.isExpanded">
        <div class="paris-disponibles">
            <h3>{{ 'hpb.courseDetails.availableBets' | translate }}</h3>
            <ul>
                <ng-container *ngFor="let paris of courseDetails.fixedConfigs">
                    <li class="raceType" [ngClass]="[paris.isSelected ? 'isSelected' : '']"
                        (click)="chooseBetType(paris)">
                        {{paris.details}}
                    </li>
                </ng-container>
            </ul>
        </div>
        <div class="paris-disponibles" *ngIf="courseDetails.selectedFixedConfig?.isAssociatedHorse == 1">
            <h3>{{ 'hpb.courseDetails.betTypes' | translate }}</h3>
            <ul>
                <li class="raceType" [ngClass]="[(fieldChoice == 1) ? 'isSelected' : '']" (click)="changeFieldType(1)">
                    {{ 'hpb.courseDetails.simple' | translate }}
                </li>
                <li class="raceType" [ngClass]="[(fieldChoice == 2) ? 'isSelected' : '']" (click)="changeFieldType(2)">
                    {{ 'hpb.courseDetails.reducedField' | translate }}
                </li>
                <li class="raceType" [ngClass]="[(fieldChoice == 3) ? 'isSelected' : '']" (click)="changeFieldType(3)">
                    {{ 'hpb.courseDetails.fullField' | translate }}
                </li>
            </ul>
        </div>
        <div class="horses-list-container">
            <div class="table-row header">
                <div class="table-item">
                    # &nbsp;&nbsp;&nbsp;&nbsp; {{ 'hpb.courseDetails.horsesJockeys' | translate }}
                </div>
                <div class="table-item hidden-mobile">{{ 'hpb.courseDetails.music' | translate }} test</div>
                <div class="table-item first-checkbox">{{ 'hpb.courseDetails.base' | translate }}</div>
                <div class="table-item" *ngIf="fieldChoice == 2">{{ 'hpb.courseDetails.associated' | translate }}</div>
                <div class=" table-item"></div>
            </div>
            <ng-container *ngFor="let horse of courseDetails.horseList; let i=index">
                <app-horse [horse]="horse" (addToBet)="addToBet($event)" [fieldChoice]="fieldChoice"
                    [isBettingDisabled]="courseDetails.isBettingDisabled"></app-horse>
            </ng-container>
        </div>
    </ng-container>
</div>