<div class="course-details" *ngIf="courseDetails" [ngClass]="{'isExpanded':courseDetails.IsExpanded}">
    <div class="course-header" (click)="toggleSub(courseDetails)">
        <div class="date-title-holder">
            <span class="date">
                {{courseDetails.gameEventDate || courseDetails.GameEventDate | date:'HH:mm'}}
            </span>
            <span class="title">
                <img src="/assets/images/pmu.svg" alt="PMU" class="pmuIcon">
                {{courseDetails.Name || courseDetails.EventName}}
                <img src="/assets/images/cloud.svg" alt="Cloud" class="weatherIcon">
            </span>
        </div>
        <ul class="list">
            <li> {{ 'hpb.courseDetails.starters' | translate }}: <strong>{{courseDetails.HorseNumber}}</strong></li>
            <ng-container *ngIf="courseDetails.Prize">
                <li>{{ 'hpb.courseDetails.PrizeAmount' | translate }}: <strong>{{courseDetails.Prize}}</strong></li>
                <li class="hidden-mobile">{{ 'hpb.courseDetails.PrizeAmount' | translate }}:
                    <strong>{{courseDetails.Prize}}</strong>
                </li>
            </ng-container>
            <ng-container *ngIf="courseDetails.TypeDePiste">
                <li>{{ 'hpb.courseDetails.trackTypes' | translate }}: <strong>{{courseDetails.TypeDePiste}}</strong>
                </li>

                <li class="hidden-mobile">{{ 'hpb.courseDetails.trackTypes' | translate }}:
                    <strong>{{courseDetails.TypeDePiste}}</strong>
                </li>
            </ng-container>

        </ul>
    </div>
    <ng-container *ngIf="courseDetails.IsExpanded">
        <div class="paris-disponibles">
            <h3>{{ 'hpb.courseDetails.availableBets' | translate }}</h3>
            <ul>
                <ng-container *ngFor="let paris of courseDetails.FixedConfigs">
                    <li class="raceType" [ngClass]="[paris.IsSelected ? 'isSelected' : '']"
                        (click)="chooseBetType(paris)">
                        {{paris.details}}
                    </li>
                </ng-container>
            </ul>
        </div>
        <div class="paris-disponibles" *ngIf="courseDetails.SelectedFixedConfig?.IsAssociatedHorse == 1">
            <h3>{{ 'hpb.courseDetails.betTypes' | translate }}</h3>
            <ul>
                <li class="raceType" [ngClass]="[(FieldChoice == 1) ? 'isSelected' : '']" (click)="changeFieldType(1)">
                    {{ 'hpb.courseDetails.simple' | translate }}
                </li>
                <li class="raceType" [ngClass]="[(FieldChoice == 2) ? 'isSelected' : '']" (click)="changeFieldType(2)">
                    {{ 'hpb.courseDetails.reducedField' | translate }}
                </li>
                <li class="raceType" [ngClass]="[(FieldChoice == 3) ? 'isSelected' : '']" (click)="changeFieldType(3)">
                    {{ 'hpb.courseDetails.fullField' | translate }}
                </li>
            </ul>
        </div>
        <div class="horses-list-container">
            <div class="table-row header">
                <div class="table-item">
                    # &nbsp;&nbsp;&nbsp;&nbsp; {{ 'hpb.courseDetails.horsesJockeys' | translate }}
                </div>
                <div class="table-item hidden-mobile">{{ 'hpb.courseDetails.music' | translate }} test</div>
                <div class="table-item first-checkbox">{{ 'hpb.courseDetails.base' | translate }}</div>
                <div class="table-item" *ngIf="FieldChoice == 2">{{ 'hpb.courseDetails.associated' | translate }}</div>
                <div class=" table-item"></div>
            </div>
            <ng-container *ngFor="let horse of courseDetails.HorseList; let i=index">
                <app-horse [horse]="horse" (addToBet)="addToBet($event)" [FieldChoice]="FieldChoice"
                    [IsBettingDisabled]="courseDetails.IsBettingDisabled"></app-horse>
            </ng-container>
        </div>
    </ng-container>
</div>