<div class="cart-container" (window:resize)="onResize($event)" [ngClass]="{'show-cart':showOnClickMobile}">
    <!-- <div class="overlay" (click)="hideMenus()"></div> -->
    <div class="cart-header" (click)="OnclickIsMobile()">
        <span class="mobileOnly rect-bar"></span>
        <p class="cart-title">{{'hpb.cart.cartTitle' | translate}}</p>
        <span class="yellow-circle mobileOnly" *ngIf="totalBets > 0">{{totalBets}}</span>
        <a class="clear-btn" *ngIf="showCartButtons" (click)="clearBets()">{{'hpb.cart.clearAll' | translate}}</a>
    </div>

    <div class="cart-body-holder" *ngIf="betItem[0]?.ShowRace">

        <div class="bet-item">
            <div class="type-container">
                <div class="type-list ticket-type">
                    <span class="type">
                        {{'hpb.cart.ticketType' | translate}}:
                    </span>
                    <span class="type">
                        {{betItem[0].SelectedFixedConfig.details}}
                        <ng-container
                            *ngIf="betItem[0].SelectedFormule && betItem[0].SelectedFixedConfig.IsAssociatedHorse == 1 && !IsParoli">
                            / {{betItem[0].SelectedFormule.name}}
                        </ng-container>
                    </span>
                </div>

                <div class="title-order" *ngIf="!IsParoli && !IsDouble">
                    <span class="race-title">
                        <span>{{betItem[0].name}}</span>
                    </span>
                    <div class="bet-options" *ngIf="betItem[0].SelectedFixedConfig.IsAllOrder == 1">
                        <div class="checkbox-apple">
                            <input class="yep" id="check-apple" type="checkbox" [(ngModel)]="IsAllOrder"
                                (ngModelChange)="orderTypeChange($event)">
                            <label for="check-apple"></label>
                        </div>
                        {{'hpb.cart.allOrders' | translate}}
                    </div>
                </div>

                <ng-container *ngIf="IsParoli || IsDouble; else elseBlock">
                    <div class="type-container paroli-item" *ngFor="let pickItem of betItem">
                        <span class="race-title">
                            <span>{{pickItem.name}}</span>
                        </span>

                        <div class="type-list" *ngIf="pickItem.BaseHorses.length > 0">
                            <span class="type">
                                {{'hpb.cart.baseHorses' | translate}}
                            </span>
                            <span class="list-of-horses">
                                <ng-container *ngFor="let horse of pickItem.BaseHorses;let i = index">
                                    <span>
                                        <span class="dash">-</span>
                                        {{horse.HorseName}}
                                    </span>
                                </ng-container>
                            </span>
                        </div>
                    </div>
                </ng-container>
                <ng-template #elseBlock>
                    <div class="type-list" *ngIf="betItem[0].BaseHorses.length > 0">
                        <span class="type">
                            {{'hpb.cart.baseHorses' | translate}}
                        </span>
                        <span class="list-of-horses">
                            <ng-container *ngFor="let horse of betItem[0].BaseHorses;let i = index">
                                <span>
                                    <span class="dash">-</span>
                                    {{(horse.IsDummy)?horse.HorseNameDisplay:horse.HorseName}}
                                </span>
                            </ng-container>
                        </span>
                    </div>

                    <div class="type-list" *ngIf="betItem[0].AssociatedHorses.length > 0">
                        <span class="type">
                            {{'hpb.cart.associatedHorses' | translate}}
                        </span>
                        <span class="list-of-horses">
                            <ng-container *ngFor="let horse of betItem[0].AssociatedHorses;let i = index">
                                <span>
                                    <span class="dash">-</span>
                                    {{(horse.IsDummy)?horse.HorseNameDisplay:horse.HorseName}}
                                </span>
                            </ng-container>
                        </span>
                    </div>
                </ng-template>
            </div>
            <div class="inputs-block">
                <div class="type-list type-multi">
                    <span class="type">{{'hpb.cart.singlePrice' | translate}}</span>
                    <span class="choose-quantity">
                        <input type="number" [(ngModel)]="betItem[0].price" (ngModelChange)="onPriceChange($event)">
                    </span>
                </div>
                <div class="type-list type-multi">
                    <span class="type">{{'hpb.cart.pickPrice' | translate}}</span>
                    <span class="choose-quantity">
                        <input type="number" disabled [value]="betItem[0].price * combinations">
                    </span>
                </div>
            </div>

        </div>

        <button class="btn btn-primary" type="submit" (click)="addBetToTicket(betItem)">{{'hpb.cart.addToTicket' |
            translate}}</button>
    </div>
    <div class="cart-body-holder ticket-body" *ngIf="listOfBets && listOfBets.length > 0">
        <div class="list-of-bets">

            <div class="bet-item" *ngFor="let betItem of listOfBets">
                <div class="pick-item" *ngFor="let pickItem of betItem.PickDetails;let i = index">

                    <div class="type-container">
                        <div class="type-list ticket-type" *ngIf="i == 0">
                            <a class="close-icon" (click)="removeItemFormSlip(betItem)">
                                <img src="assets/images/close-icon-grey.svg" />
                            </a>
                            <span class="type">
                                {{'hpb.cart.ticketType' | translate}}:
                            </span>
                            <span class="type">
                                {{pickItem.BetType}}
                                <ng-container *ngIf="pickItem.FormuleType != '' && betItem.PickDetails.length == 1">
                                    / {{pickItem.FormuleType}}
                                </ng-container>
                            </span>
                        </div>
                        <span class="race-title">
                            <span>{{pickItem.name}}</span>
                        </span>
                        <div class="type-list">
                            <span class="type">
                                {{'hpb.cart.baseHorses' | translate}}
                            </span>
                            <span class="list-of-horses">
                                {{pickItem.BaseHorsesDisplay}}
                            </span>
                        </div>

                        <div class="type-list" *ngIf="pickItem.ShowAssociatedHorses">
                            <span class="type">
                                {{'hpb.cart.AssociatedHorses' | translate}}
                            </span>
                            <span class="list-of-horses">
                                {{pickItem.AssociatedHorses}}
                            </span>
                        </div>
                    </div>
                </div>

                <div class="type-list price-holder">
                    <span class="type">
                        {{'hpb.cart.price' | translate}}
                    </span>
                    <span class="list-of-horses">
                        {{betItem.TicketPrice}} KL
                    </span>
                </div>
            </div>

        </div>
        <div class="total-holder" *ngIf="showCartButtons">
            {{'hpb.cart.ticketPrice' | translate}}: <span>{{(listOfBets.TicketPrice) | number}} KL </span>
        </div>
        <button class="btn btn-primary" type="submit" *ngIf="showCartButtons"
            (click)="issueTicket()">{{'hpb.cart.placeBet' | translate}}</button>
    </div>
</div>