<div class="admin-page">
    <div class="main-btns">
        <a class="btn btn-primary" *ngFor="let routerItem of machineMenu" [routerLink]="`/Machine/${routerItem.path}`">
            {{routerItem.data.title | translate}}
        </a>

        <!-- <a class="btn btn-primary" (click)="syncTickets()" *ngIf="isOnline">Sync Data</a> -->
        <button class="btn btn-primary" (click)="triggerAppUpdate()" *ngIf="isOnline">Force App Update</button>
        <!-- <a class="btn btn-primary" (click)="offlineReport()">Offline Report</a>
        <a class="btn btn-primary" (click)="clearFlutterOfflineCache()">Clear Cache</a> -->
         <a class="btn btn-primary logout-btn" (click)="logout();">Logout</a>
    </div>


</div>