@use '/src/variables' as *;

.btn {
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    width:100%;
}

.main-btns {
    padding:0 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}