.btn {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 48%;
    font-size: 14px;
        margin-top: 20px;
}

.main-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
