<div class="app-holder">
  <app-header [isLoggedIn]="isLoggedIn" [navList]="navList" *ngIf="!hideHeader"></app-header>
  <ng-container *ngIf="!isAndroidApp">

    <app-login *ngIf="loginObject.show" [loginObject]="loginObject"></app-login>

    <div class="body-holder">
      <router-outlet></router-outlet>
    </div>




    <app-notifications-popup [list]="notificationsList" *ngIf="isLoggedIn"
      (removeNotificationOutput)="removeNotificaiton($event)"></app-notifications-popup>

    <app-footer></app-footer>
  </ng-container>

  <ng-container *ngIf="isAndroidApp">
    <div class="body-holder android-app" [ngClass]="{'no-header': hideHeader}">

      <!-- <app-header [navList]="navList"></app-header> -->
      <router-outlet></router-outlet>
    </div>

    <mobile-app-nav [isLoggedIn]="isLoggedIn"></mobile-app-nav>
  </ng-container>

  <app-loader *ngIf="isLoading"></app-loader>
  <app-modal></app-modal>
</div>