
<ng-container *ngIf="!isAndroidApp">
  <app-header [isLoggedIn]="isLoggedIn" [navList]="navList"></app-header>
  <app-login *ngIf="loginObject.show" [loginObject]="loginObject"></app-login>

  <div class="body-holder">
    <router-outlet></router-outlet>
  </div>


  <app-loader *ngIf="isLoading"></app-loader>

  <app-notifications-popup [list]="notificationsList" *ngIf="isLoggedIn"
    (removeNotificationOutput)="removeNotificaiton($event)"></app-notifications-popup>
</ng-container>

<ng-container *ngIf="isAndroidApp">
  <div class="body-holder">
    <router-outlet></router-outlet>
  </div>
</ng-container>

