<div class="loto-game-container">
    <ng-container *ngIf="!showEventDetails">
        <h2 class="center">
            {{ 'pickx.title' | translate }}
        </h2>
        <div class="events-list" *ngIf="eventsList.length>0">
            <a *ngFor="let event of eventsList" class="event-item btn btn-primary" (click)="composeEventDetails(event)">
                {{ event.EventName }}
            </a>
        </div>
    </ng-container>

    <ng-container *ngIf="showEventDetails">
        <h5>
            {{selectedEvent.EventName}} / {{selectedEvent.EventDate}}
        </h5>
        <div class="form-group d-flex">
            <input type="text" disabled class="form-control"
                value="Event Type: {{selectedEvent.fixedConfig[0].Name}}, Nb of Balls {{selectedEvent.ConfigurationVersionId}}">
            <select class="form-control" [(ngModel)]="selectedType" (ngModelChange)="onTypeChanged($event)">
                <option [ngValue]="null" selected> Choose Bet Type </option>
                <ng-container *ngFor="let categoryItem of selectedEvent.fixedConfig">
                    <option [ngValue]="categoryItem">
                        {{ categoryItem.TicketTypeName }}
                    </option>
                </ng-container>
            </select>

        </div>
        <div class="form-group d-flex" *ngIf="selectedType">
            <a class="btn btn-primary" (click)="quickPick()">Quick Pick</a>


        </div>

        <div class="selected-balls ball-list" *ngIf="selectedType">
            <div *ngFor="let ball of selectedBalls" class="ball" (click)="chooseNumber(ball)">
                {{ ball.number }}
            </div>

        </div>

        <div class="balls-list-holder" *ngIf="showBallPicker">
            <h2>Choose a Ball</h2>
            <div class="ball-list">
                <div *ngFor="let ball of listOfBalls" class="ball" (click)="selectBall(ball)">
                    {{ ball.number }}
                </div>

            </div>
            <div class="form-group d-flex">

                <a class="btn btn-secondary" (click)="showBallPicker = false">Close</a>

            </div>
        </div>

        <ng-container *ngIf="showConfirmation || ticketItem.length>0">
            <div class="form-group stake-block">
                <label class="title-label">Stake</label>

                <div class="form-group d-flex">
                    <a class="btn btn-primary" (click)="updateMultiplier(false)">-</a>
                    <input type="number" class="form-control" [(ngModel)]="Stake" />
                    <a class="btn btn-primary" (click)="updateMultiplier(true)">+</a>
                </div>

            </div>
            <div class="form-group d-flex">
                <a class="btn btn-success" (click)="addToBet()">Add to Ticket</a>
            </div>
        </ng-container>


    </ng-container>
</div>