@use '/src/variables' as *;

h2 {
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
}

.event-item {
    display: block;
    margin-bottom: 15px;
}

h5 {
    text-align: center;
}

.form-control,
.form-control:focus {
    background-color: $lightBg;
}

.form-group {
    margin-bottom: 15px;
}

.btn {
    flex: 1;
    padding: 13px 10px;
}

.ball-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    max-height: calc(100vh - 95px);
    overflow: auto;
    margin-bottom: 20px;
}

.ball {
    width: 40px;
    height: 40px;
    background-color: $lightBg;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid $lightBg;
    font-size: 14px;
    color: $white;
    font-weight: bold;
}

.ball.selected {
    background: $yellow;
    color: $darkBg;
}

.balls-list-holder {
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px;
    background: $darkBg;
    z-index: 2;
}

.title-label {
    font-size: 14px;
    color: $white;
    padding-bottom: 10px;
    text-align: center;
    display: block;
    font-weight: bold;
    margin-top: 20px
}

.stake-block {
    input {
        text-align: center;
    }

    .btn {
        min-width: 55px;
        font-size: 30px;
        line-height: 17px;
    }
}