@import '/src/variables.scss';

.aside {
    width: 25%;
}

.type-label {

    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    display: block;
    padding: 15px;
    background-color: $lightBg;
    cursor: pointer;
    position: relative;

    &:before {
        content: '';
        width: 13px;
        height: 7px;
        flex-shrink: 0;
        position: absolute;
        background-image: url(/assets/images/arrow-down.svg);
        transform: rotate(-90deg);
        top: 20px;
        right: 15px;
        @include transition(0.2s);
    }
}

.country-label {
    color: $white;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
    background-color: $countryBg;
    padding-bottom: 16px;
    cursor: pointer;

    img {
        height: 14px;
        display: block;
    }
}

.reunion-item {
    h2 {
        color: $white;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;

        padding: 10px 10px 12px;
        padding-left: 31px;
        position: relative;
        cursor: pointer;
        margin-bottom: 0;

        &:before {
            content: '';
            width: 9px;
            height: 5px;
            background-image: url(/assets/images/arrow-down.svg);
            position: absolute;
            top: 16px;
            left: 13px;
            background-size: cover;
            background-repeat: no-repeat;
            transform: rotate(-90deg);
        }
    }
}

.reunion-item.active {
    .courses-list {
        display: flex;
    }

    h2:before {
        transform: none;
    }
}

.courses-list {
    display: none;
    flex-wrap: wrap;

    .course-item {
        width: 20%;
        text-align: center;
        border-radius: 5px;
        border: 1px solid $lightBg;

        &.selected-race {
            border-color: $yellow;
            color: $yellow;
        }

    }

    .square {
        font-size: 16px;
        font-weight: 700;
        padding: 12px 0;
        cursor: pointer;
    }

    .time {
        font-size: 12px;
        font-weight: 400;
        color: $white;
        display: block;
    }
}

.first-level {
    &:nth-of-type(1) {
        .type-label {
            border-radius: 10px 10px 0px 0px;
        }
    }

    &:last-of-type:not(.active) {
        .type-label {
            border-radius: 0px 0px 10px 10px;
        }
    }
}



.first-level.active {
    .countries-list {
        display: block;
    }

    .type-label {
        color: $yellow;
    }

    .type-label:before {
        transform: none;
    }
}

.country-level.active {
    .reunions-list {
        display: block;
    }
}

.country-level {
    border-bottom: 1px solid $lightBg;
}

.course-details {
    width: 60%;
}

.course-header {
    padding: 20px 25px;
    border-radius: 10px;
    background: $lightBg;
    margin-bottom: 10px;
    cursor: pointer;

    .date {
        display: block;
        color: #F7D956;
        font-size: 14px;
        font-weight: 400;
        display: block;
        margin-bottom: 15px;
    }

    .title {
        font-weight: 700;
        display: inline-block;
        margin-bottom: 15px;
        position: relative;

        .weatherIcon {
            position: absolute;
            top: -17px;
            right: -50px;
        }

        .pmuIcon {
            vertical-align: middle;
            margin-right: 17px;
            margin-top: -3px;
        }
    }

    ul {
        display: flex;
        flex-wrap: wrap;

        li {
            color: #909090;
            margin-right: 30px;
            font-size: 14px;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    .date-title-holder {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        margin-bottom: 5px;
    }
}

.paris-disponibles {
    margin-bottom: 20px;

    h3 {
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 15px;

    }

    ul {
        display: flex;
        flex-wrap: wrap;
    }

    li {
        padding: 8px 14px 12px;
        margin-right: 15px;
        border-radius: 5px;
        margin-bottom: 10px;

        &.color1 {
            background-color: #E12D4B;
        }

        &.color2 {
            background-color: #14A2B7;
        }

        &.color3 {
            background-color: #F2797E;
        }

        &.color4 {
            background-color: #F6A530;
        }

        &.color5 {
            background-color: #7FCD1A;
        }

        &.color6 {
            background-color: #7978E6;
        }

        &.color7 {
            background-color: #02A509;
        }
    }
}


.horses-list-container {
    .table-row {
        padding: 10px 20px;
    }

    .table-row:not(.header) {
        border-radius: 10px;
        background: $lightBg;
        padding: 18px 20px;
        margin-bottom: 10px;

        .table-item:nth-of-type(4) {
            background: #18191C;

        }
    }

    .table-row {
        display: flex;
        flex-wrap: wrap;
    }

    .table-item:nth-of-type(1) {
        width: 60%;
    }

    .table-item:nth-of-type(2) {
        width: 19%;
        text-align: center;
    }

    .table-item:nth-of-type(3) {
        text-align: center;
        width: 15%;
    }

    .table-item:nth-of-type(4) {
        width: 25px;
        margin-left: auto;
        height: 25px;
        border-radius: 3px;
    }

    .hidden-infos {
        width: 100%
    }
}

.courseDetailsWrapper {
    width: 75%;
}


.reunions-list {
    display: block;
    border: none;
}

.full-page {
    width: 100%;
}

.courses-list {
    display: block;
    margin-bottom: 20px;
    .course-item {
        width: 100%;
        border: none;
        text-align: left;
        color: $white;
        margin-left: 0;
    }

    .square {
        display: none;
    }
}

app-course-details {
    display: none;
}

.reunion-infos {
    display: flex;
    padding: 10px;
    background-color: $lightBg;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: normal;
    align-items: center;
    cursor: pointer;
    position: relative;

    &:before {
        content: '';
        width: 13px;
        height: 7px;
        flex-shrink: 0;
        position: absolute;
        background-image: url(/assets/images/arrow-down.svg);
        top: 25px;
        right: 25px;
        @include transition(0.2s);
    }

    h3 {
        font-size: 16px;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 0;
    }

    .greenSquare {
        min-width: 35px;
        height: 35px;
        border-radius: 5px;
        background: #3F8E3C;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px
    }
}

.reunion-item.active {
    margin-bottom: 20px;

    app-course-details {
        display: block;
    }

    .reunion-infos:before {
        transform: rotate(-180deg);
    }
}



.courses-main {
    padding-bottom: 50px;
}


.d-flex {
    margin: 0 -10px;

    >* {
        padding: 0 10px
    }
}

@media all and (max-width:767px) {
    .courseDetailsWrapper {
        display: none;
    }

    .aside {
        width: 100%;
    }

    .courses-list .course-item {
        width: 16.667%;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}