$yellow: #F7D955;
$darkBg: #0b1705;
$darkerBg: #070906;
$lightGrey: #909090;
$white: #FFF;
$lightBg: #2b3422;
$countryBg: #252B31;
$offWhite : #F5f5f5;
$red: #E12D4B;
$green: #3F8E3C;
$lightBlue: #929393;
$right: right;
$left: left;
$lightGreen: #a4f675;
$black: #000;

// Typography
$font-bold: 'Switzer Bold', sans-serif;
$font-regular: 'SF UI', sans-serif;
$title-medium: 'Switzer Regular', sans-serif;


@mixin transition($duration) {
    -webkit-transition: all $duration;
    -moz-transition: all $duration;
    -ms-transition: all $duration;
    -o-transition: all $duration;
    transition: all $duration;
}